
.icon-group:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-male:before { content: '\e803'; } /* '' */
.icon-user-outline:before { content: '\e804'; } /* '' */
.icon-user-1:before { content: '\e805'; } /* '' */
.icon-child:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-user-2:before { content: '\e80b'; } /* '' */
.icon-list:before { content: '\e80c'; } /* '' */
.icon-list-bullet:before { content: '\e80d'; } /* '' */
.icon-graduation-cap:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-list-1:before { content: '\e810'; } /* '' */
.icon-user-woman:before { content: '\e811'; } /* '' */
.icon-user-pair:before { content: '\e812'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e813'; } /* '' */
.icon-chat:before { content: '\e814'; } /* '' */
.icon-comment-alt2:before { content: '\e815'; } /* '' */
.icon-chat-inv:before { content: '\e816'; } /* '' */
.icon-comment-1:before { content: '\e817'; } /* '' */
.icon-chat-1:before { content: '\e818'; } /* '' */
.icon-align-justify:before { content: '\e819'; } /* '' */
.icon-list-2:before { content: '\e81a'; } /* '' */
.icon-spin2:before { content: '\e81b'; } /* '' */
.icon-spin1:before { content: '\e81c'; } /* '' */
.icon-spin4:before { content: '\e81d'; } /* '' */
.icon-spin5:before { content: '\e81e'; } /* '' */
.icon-spin6:before { content: '\e81f'; } /* '' */
.icon-comment-empty:before { content: '\e820'; } /* '' */
.icon-chat-empty:before { content: '\e821'; } /* '' */
.icon-loop:before { content: '\e822'; } /* '' */
.icon-cw:before { content: '\e823'; } /* '' */
.icon-edit-1:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-pencil-alt:before { content: '\e826'; } /* '' */
.icon-chat-2:before { content: '\e827'; } /* '' */